.header {
    text-align: center;
    width: 100%;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.grade-imagens {
    padding: 5vh 0;
    display: flex!important;
}

.item-grade {
    width: 20%;
    margin: auto;
    text-align: center;
}

.btn-checkout {
    padding-top: 3vh;
    margin: auto;
    width: fit-content;
}

.total-vagas {
    width: fit-content;
    margin: auto;
}

.qntd-vagas {
    margin-top: 1vh;
}

.qntd-vagas p {
    margin: 0;
    padding: 1em 0;
}

.num-vagas {
    padding: 10px 15px;
    font-size: 35px;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}

.grade-fotos {
    display: flex;
    margin-top: 6vh;
}

.grade-fotos img {
    width: 100%;
}

.valor-operacao {
    margin-top: 2vh;
    padding: 10px 15px;
    font-size: 35px;
    width: fit-content;
    border-radius: 20px;
    text-align: center;
}

.operacao-texto {
    opacity: 0.5;
}

.card-beneficios {
    width: 80%;
    margin-left: auto;
    min-height: 200px;
}

.beneficios-header {
    background: linear-gradient(106deg, #FB1842 0%, #D74509 100%) 0% 0% no-repeat padding-box;
    border-radius: 20px 20px 0 0;
    min-height: 80px;
    text-align: center;
    padding-top: 20px;
}

.beneficios-body {
    border-radius: 0 0 20px 20px;
    background-color: #212121;
}

.lista-beneficios {
    padding: 0;
    width: fit-content;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.lista-beneficios li {
    margin: 1vh 0;
}

.lista-caracteristicas {
    display: flex;
    margin-top: 5vh;
}

.texto-membros {
    opacity: 0.5;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 10vh;
    font-size: 18px;
}

.img-membros {
    background-image: url("../img/cards-membros.png");
    background-position: center;
    background-size: cover;
    height: 1200px;
}

.texto-garantia {
    opacity: 0.5;
    margin-bottom: 5vh;
    font-size: 20px;
    text-align: center;
}

.pedro-salim {
    width: 70%;
}

.pedro-salim p {
    font-size: 20px;
    opacity: 0.5;
    margin: 0 0 0 1vw;
    line-height: 30px;
}

.texto-pastel {
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 5vh;
}

.texto-pastel span {
    opacity: 0.5;
}

.footer {
    padding: 5vh 10vh;
}

.footer p {
    color: #FFFFFF;
    opacity: 0.5;
}

.footer a {
    color: #FFFFFF;
    text-decoration: none;
}

.footer .grade-icons {
    width: 50%;
    margin: auto;
}

.footer .grade-icons .div-icon {
    width: fit-content;
    background: #212121;
    padding: 15px 20px;
    font-size: 25px;
    border-radius: 15px;
    margin: auto;
}

.arrows {
    text-align: center;
    margin-top: 5vh;
}

.arrows i {
    font-size: 30px;
}

.video {
    width: 100%;
    text-align: center;
}

.video iframe {
    width: 45vw;
    height: 50vh;
}

.bg-pastel-suco {
    background-image: url(../img/bg-pastel-suco.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

@media (max-width: 768px) {
    .bg-pastel-suco {
        background-image: none;
    }
    .video iframe {
        width: 90vw;
        height: 30vh;
    }
    .grade-imagens {
        display: block;
    }
    .item-grade {
        width: 60%;
    }
    .card-beneficios {
        width: 80%;
        margin: auto;
        margin-top: 5vh;
    }
    .texto-membros {
        width: 90%;
    }
    .img-membros {
        height: 450px;
    }
    .header img {
        width: 60%;
    }
    .texto-garantia {
        font-size: 14px;
        width: 90%;
        margin: auto;
        margin-bottom: 5vh;
    }
    .pedro-salim {
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .pedro-salim p {
        font-size: 14px;
        line-height: 25px;
    }
    .img-pedro-salim {
        background-image: url("../img/salim-mobile.jpg");
        background-position: center;
        background-size: cover;
        height: 300px;
        margin-top: 3vh;
    }
    .texto-pastel {
        width: 90%;
    }
    .footer {
        padding: 5vh 3vw;
        text-align: center;
    }
}