.headline {
    width: 100%;
    height: auto;
    padding: 2vh 0 3vh;
}

.headline-text {
    width: 50%;
    margin: auto;
}

.headline-text h3 {
    margin: 0;
    margin-bottom: 1vh;
}

.headline-text p {
    margin: 0;
}

.headline-title p {
    text-align: center;
    opacity: 0.5;
    font-size: 30px;
    width: 70%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

.btn-checkout {
    text-align: center;
}

.video {
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: fit-content;
}

.video iframe {
    width: 45vw;
    height: 50vh;
}

@media (max-width: 768px) {
    .headline-text {
        width: 90%;
    }
    .headline-title p {
        width: fit-content;
    }
    .video iframe {
        width: 90vw;
        height: 30vh;
    }
}